.section-1 {
    border-width: 25px;
    border-color: deepskyblue;
    border-style: solid;
    background-color: blanchedalmond;
    margin: 100px;
    color: blue;
    float: left;
    width: 700px;
    padding: 10px 20px 10px 20px;
    display:inline;
    border-radius: 10px;
}

.section-2 {
    border-width: 25px;
    border-color: red;
    border-style: solid;
    background-color: blue;
    margin: 30px; 
    color: white; 
    float: left;
    width: 200px;
    padding: 10px 20px 10px 20px;
    display: inline;
    border-radius: 100px;
}

.section-3 {
    border-width: 5px;
    border-color: deepskyblue;
    border-style:groove;
    background-color: green;
    margin: 10px 20px 10px 20px; 
    color: white; 
    float: right;
    width: 200px;
    padding: 30px;
    display: inline;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 30px;
}